body:before {
    content: '';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    background:
      radial-gradient(circle at top right, 
      #D54AB255, rgba(255,0,0,0) 70.71%), 
      radial-gradient(circle at top left, 
      #E2454255, rgba(0,0,255,0) 70.71%), 
      radial-gradient(circle at bottom left, 
      #5B905855, rgba(0,255,0,0) 70.71%), 
           radial-gradient(circle at bottom right, 
           #2B32E455, rgba(0,255,0,0) 70.71%);
  }