.signInText {
    font-size: 20px;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
    margin-top: 100px;
}


.input-field{
    background-color: #fff;
    border-width: 1px;
    transition: .15s;
    outline: none;
}


.login {
    color: #fff;
}
.container {
    font-family: 'Nunito', sans-serif;
    background: 
    radial-gradient(circle at top, 
    rgba(250, 244, 248, 0.733), rgba(255,0,0,0) 70.71%),
    radial-gradient(circle at top right, 
    rgba(250, 144, 224, 0.733), rgba(255,0,0,0) 70.71%), 
    radial-gradient(circle at top left, 
    rgba(255, 126, 126, 0.733), rgba(0,0,255,0) 70.71%), 
    radial-gradient(circle at bottom left, 
    rgba(170, 247, 166, 0.733), rgba(0,255,0,0) 70.71%), 
    radial-gradient(circle at bottom right, 
    rgba(131, 135, 253, 0.733), rgba(0,255,0,0) 70.71%);
}