@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&display=swap');
/*Extra light 200*Font weight (200,300,400)= normal,(500,600,700)= Bold,(800,900)= ExtraBold*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito',sans-serif;

}
.container{
   position:relative;
   width: 100%;
   min-height:  100vh;
   overflow: hidden; 
}
.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;                                                                                                                                  
}
.Header{
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
    margin-bottom: 45px;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
.title{
    font-size: 20px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}
.input-field{
    max-width: 300px;
    width: 100%;
    height: 47px;
    background-color:#FFFFFF;
    margin:10px 0;
    border-radius: 19px;
    display:grid;
    grid-template-columns: 15% 85%;
    padding: 0.2rem;
    
}
.input-field i{
    text-align:center;
    line-height: 47px;
    color: #acacac;
    font-size: 1.2rem;
}
.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
    
    
}
.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.btn{
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    width: 300px;
    height: 49px;
    border:none;
    outline:none;
    border-radius: 19px ;
    cursor: pointer;
    background-color:#5995fd;
    color: #fff;
    text-transform:uppercase;
    font-weight: 600;
    margin:10px 0;
    transition: .5s;
}
.btn:hover{
    background-color: #4d84e2; 
}
.FP{
  margin-left:95px;
  margin-bottom: 0px;
  font-size: 12px; 
}
.SI{
    font-size: 12px;
}
.FP a{
    text-decoration: none;
}
.SI a{
    text-decoration: none; 
    
}
/* #button3{
    width: 300px;
    height: 49px;
    margin-top: 20px;
    background-color:#4d84e2;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-left: 5px;
    border: 1px solid #4d84e2;
    border-radius: 19px;
    color: white;
}
#button3:hover{
    background-color:#5995fd ;
    outline: #5995fd;
}
 #label1{
    margin-left: 50px;
    color: white;
    font-weight: bold;
}
#label1:hover{
    cursor: pointer; 
}
.fa-facebook{
    color: whitesmoke;
    font-size: 22px;
    margin-left: 10px;
    justify-content: center;
}
#button4{
    margin-top: 10px;
    width: 300px;
    height: 49px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-left: 5px;
    border: 1px solid #efefef;
    border-radius: 19px;
    background-color: #efefef;
}
#button4:hover{
    background-color: ;
}
#label2{
    margin-left: 50px;
    justify-content: center;
    color:#444;
    font-weight:bold;
}
#label2:hover{
    cursor: pointer;
}
#Gimg{
    width: 22px;
    height: 22px;
    
} */