@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body:before {
  content: '';
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0%;
  background:
  radial-gradient(circle at top, 
    #faf4f8bb, rgba(255,0,0,0) 70.71%),
    radial-gradient(circle at top right, 
    #fa90e0bb, rgba(255,0,0,0) 70.71%), 
    radial-gradient(circle at top left, 
    #ff7e7ebb, rgba(0,0,255,0) 70.71%), 
    radial-gradient(circle at bottom left, 
    #aaf7a6bb, rgba(0,255,0,0) 70.71%), 
         radial-gradient(circle at bottom right, 
         #8387fdbb, rgba(0,255,0,0) 70.71%);
         z-index: -1000;
}

.topbar {
    background-color: rgba(255, 255, 255, 0.301);
    color: dark-grey;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.topbar h1 {
  font-family: 'Nunito', sans-serif;
}
