@import url(fonts.css);
@import url(colours.css);

* {
    padding: 3;
    margin: 0;
    box-sizing: border-box;
    
}

body:before {
  content: '';
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0%;
  z-index: -1000;
  background:
  radial-gradient(circle at top, 
    var(--gradient-1), rgba(255,0,0,0) 70.71%),
    radial-gradient(circle at top right, 
    var(--gradient-2), rgba(255,0,0,0) 70.71%), 
    radial-gradient(circle at top left, 
    var(--gradient-3), rgba(0,0,255,0) 70.71%), 
    radial-gradient(circle at bottom left, 
    var(--gradient-4), rgba(0,255,0,0) 70.71%), 
         radial-gradient(circle at bottom right, 
         var(--gradient-5), rgba(0,255,0,0) 70.71%);
}

.topbar {
    background-color: rgba(255, 255, 255, 0.301);
    color: dark-grey;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.topbar h1 {
  font-family: 'Nunito', sans-serif;
}
